@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-base);
    color: var(--text-secondary);
}
body {
    background-color: var(--background-primary);
    line-height: 2.25rem;
}
:root {
    --background-primary: rgb(11, 11, 11);
    --background-secondary: rgb(17, 17, 17);
    --text-primary: rgb(230, 230, 230);
    --text-secondary: rgb(179, 179, 179);
    --text-alert: #fabd2f;
    --text-warning: #fb4934;

    /* font */
    --ff-base: 'Fira Mono', monospace;
}
img {
    max-width: 100%;
}
pre {
    padding: 1rem;
    margin-block: 1rem;
}
button {
    border: none;
    padding: 0.5em;
    padding-inline: 1em;
    background-color: var(--background-secondary);
}
ol, ul {
    padding-inline: 2rem;
    margin-bottom: 1rem;
} 

em {
    color: var(--text-primary);
    font-size: 0.75rem;
}

h1,
h2,
h3 {
    color: var(--text-primary);
}

p {
    margin-bottom: 1rem;
}
pre {
    border: 1px solid var(--background-secondary);
}
pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: keep-all;
}
a {
    text-decoration: none;
    color: var(--text-primary);
}
a:hover {
    text-decoration: underline;
    color: var(--text-secondary);
}